# Python
__pycache__/
*.py[cod]
*.sqlite3

# Virtual Environment
venv/
env/

# VS Code
.vscode/

# Django
db.sqlite3
media/

# Environment Variables
.env

# Static files collected in production
staticfiles/

# macOS
.DS_Store